Repository hmcts/lau-idam-backend, pull requests merged in 2021-12, with the labels that each got.

#32 Lau 77 get api endpoint
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  bin/set-lau-idam-docker-env.sh
  build.gradle
  charts/lau-idam-backend/Chart.yaml
  charts/lau-idam-backend/values.preview.template.yaml
  charts/lau-idam-backend/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/AbstractSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/CommonSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/LogonAuditGetSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/helper/LogonAuditGetHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/helper/RestHelper.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/features/get_logon_audit.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/config/TransformerColumnKeyLoader.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/constants/ExceptionMessageConstants.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/constants/LogonLogConstants.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/constants/RegexConstants.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/controllers/IdamLogonAuditController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/domain/IdamLogonAudit.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/dto/LogonInputParamsHolder.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/dto/LogonLog.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/response/LogonLogGetResponse.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/utils/InputParamsVerifier.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/utils/NotEmptyInputParamsVerifier.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/utils/TimestampUtil.java
  src/main/resources/META-INF/spring.factories
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/FlywayConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/RandomTestClass.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/RandomTestClass2.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/TestIdamLogonAudit.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/TestIdamLogonAudit2.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/TransformerColumnKeyLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/controllers/IdamLogonAuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogServiceTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/utils/LogonInputParamsVerifierGetExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/utils/NotEmptyInputParamsVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/utils/TimestampUtilTest.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-32

#27 Lau idam backend post endpoint logons
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/config/EnvConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogOnGetResponseVO.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogOnPostResponseVO.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogOnRequestVO.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogonLog.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/runner/LogOnApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/BaseSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/LogOnGetApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/LogOnPostApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/utils/TestConstants.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-27

#44 Fixing FN tests
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/LogOnGetApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/LogOnPostApiSteps.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-44

#46 LAU-226: Upgrade Log4j to 2.15.0
  build.gradle
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-46

#48 Automation FN tests Authorization/ServiceToken for Logons Api
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/runner/LogOnApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/LogOnGetApiSteps.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-48

#49 Lau 173 idam logons swagger documentation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/controllers/IdamLogonAuditController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/response/LogonLogGetResponse.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/controllers/IdamLogonAuditControllerTest.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-49

#45 LAU-208 Update BE to allow latest FE changes
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogOnGetResponseVO.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/response/LogonLogGetResponse.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogService.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-45

#50 LAU-220 Fix case sensitivity in Case IdAM search page
  charts/lau-idam-backend/values.preview.template.yaml
  src/integrationTest/resources/features/get_logon_audit.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepository.java
  src/main/resources/db/migration/V002__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-50

#56 LAU-228 Add jpa unit tests for lau-idam
  build.gradle
  dependencies.txt
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/application.yaml
  src/main/resources/h2/V001__Schema.sql
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonRepositoryStartEndTimeTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/RemoveColumnTransformers.java
  src/test/resources/application.yaml
  test.txt
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-56

#57 LAU-173 fixed spelling and added 401 response code
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/controllers/IdamLogonAuditController.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-57
