Repository hmcts/lau-idam-backend, pull requests merged in 2022-02, with the labels that each got.

#81 Optimise lau-idam query.
  src/integrationTest/resources/features/get_logon_audit.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogService.java
  src/main/resources/db/migration/V003__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-81

#83 LAU-258 Optimise lau-idam backend.
  charts/lau-idam-backend/values.preview.template.yaml
  src/main/resources/db/migration/V004__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-83

#84 LAU-258: Correct scripts.
  src/main/resources/db/migration/V003__Schema.sql
  src/main/resources/db/migration/V004__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-84

#89 LAU-258 Optimise lau-idam backend.
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogServiceTest.java
  src/test/resources/application.yaml
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-89

#90 Lau 258 id am native q fix 2
  build.gradle
  charts/lau-idam-backend/values.preview.template.yaml
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/config/TransformerColumnKeyLoader.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/domain/IdamLogonAudit.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditInsertRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogService.java
  src/main/resources/META-INF/spring.factories
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/TestIdamLogonAudit.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/TestIdamLogonAudit2.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/TransformerColumnKeyLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonRepositoryStartEndTimeTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/UpdateEntityForH2.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogServiceTest.java
  src/test/resources/application.yaml
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-90

#96 Enable DB migration.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V005__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-96

#82 Lau 264 reenable fortify
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-82

#102 LAO-217 When empty size/page passed through the request results in 500
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogService.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-102

#104 LAU-320 Pass application db user password to flyway scripts
  Jenkinsfile_CNP
  build.gradle
  charts/lau-idam-backend/Chart.yaml
  charts/lau-idam-backend/values.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V005__Schema.sql
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-104

#108 LAU-311: Update chart version
  charts/lau-idam-backend/Chart.yaml
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-108

#109 Update caseRef generator not generate caseRefs with leading zero
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/utils/NotEmptyInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-109
