Repository hmcts/lau-idam-backend, pull requests merged in 2022-01, with the labels that each got.

#64 LAU-181 Sync branches with master
  Jenkinsfile_CNP
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-64

#60 LAU-227 Update S2S Authorised Services [***DO NOT MERGE***]
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/utils/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/AbstractSteps.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-60

#70 LAU-172: Update after testing with IdAM-API.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/utils/NotEmptyInputParamsVerifier.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/utils/NotEmptyInputParamsVerifierTest.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-70

#75 LAU-238 swagger generator test and Github action
  .github/workflows/swagger.yml
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/config/SwaggerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/SwaggerGeneratorTest.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-75

#71 LAU-245 Create DELETE /audit/logon endpoint
  charts/lau-idam-backend/Chart.yaml
  charts/lau-idam-backend/values.aat.template.yaml
  charts/lau-idam-backend/values.preview.template.yaml
  charts/lau-idam-backend/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/LogonAuditDeleteSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/helper/LogonAuditPostHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/helper/RestHelper.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/features/delete_logon_audit.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/authorization/RestApiPreInvokeDeleteInterceptor.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/authorization/RestApiPreInvokeInterceptor.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/config/RestApiPreInvokeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/controllers/IdamLogonAuditDeleteController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogService.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/utils/InputParamsVerifierHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/authorization/RestApiPreInvokeDeleteInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/config/RestApiPreInvokeConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/controllers/IdamLogonAuditDeleteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/repository/IdamLogonAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/service/LogonLogServiceTest.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-71

#77 LAU-249 Delete all test data from AAT
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/helper/AuthorizationHeaderHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/helper/DatabaseCleaner.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogOnPostResponseVO.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogonLogPostResponseVO.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/LogonLogVO.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/runner/LogOnApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/BaseSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/LogOnGetApiSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/utils/TestConstants.java
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-77
