Repository hmcts/lau-idam-backend, pull requests merged in 2023-07, with the labels that each got.

#404 LAU-686 delete accounts delete endpoint
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/helper/DatabaseCleaner.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/model/DeletedAccountsResponse.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/runner/DeletedAccountsApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/utils/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/CommonSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/LogonAuditDeleteSteps.java
  src/integrationTest/java/uk/gov/hmcts/reform/laubackend/idam/bdd/UserDeletionAuditDeleteSteps.java
  src/integrationTest/resources/features/delete_logon_audit.feature
  src/integrationTest/resources/features/delete_user_deletion_audit.feature
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/controllers/UserDeletionAuditDeleteController.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/repository/UserDeletionAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/laubackend/idam/service/UserDeletionAuditService.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/controllers/UserDeletionAuditDeleteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/laubackend/idam/service/UserDeletionAuditServiceTest.java
Labels: ns:lau, prd:lau, keep-helm, rel:lau-idam-backend-pr-404

#410 Feature/lau 669 configure functional test
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/config/EnvConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/helper/AuthorizationHeaderHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/helper/DatabaseCleaner.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/helper/PropertyReader.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/steps/BaseSteps.java
  src/functionalTest/java/uk/gov/hmcts/reform/laubackend/idam/serenityfunctionaltests/utils/TestConstants.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-410

#407 Pact testing
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/laubackend/idam/pacttests/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/laubackend/idam/pacttests/IdamConsumerTestBase.java
  src/contractTest/resources/config/application_contract.properties
Labels: ns:lau, prd:lau, rel:lau-idam-backend-pr-407
